@import "mixin";

.header {
    margin-bottom: 81px;
    margin-top: 17px;
    .header-inner {
        @include  display-flex ($gap: none, $justifi-content: space-between, $align-items: center);
        .logo-box {
            &__img {
                width: 98px;
                height: 33px;
            }
        }
        .menu {
            &__list {
                @include  display-flex ($gap: 55px, $align-items: center);
            }
            &__link {
                color: #95E1D3;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 400;
                border: none;
                padding-bottom: 10px;    
                &:hover{
                    color: #F38181;
                    border-bottom: solid 3px;  
                }      
            }
        }
    }
}
